.search-bar {
  width: 80%;
  height: 40px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 22px;
  margin-bottom: 2vh;
}

/* Reset default margin and padding for the ul */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 15px;
  /* Reset default margin */
  display: flex;
  flex-direction: column;
  /* Arrange items vertically */
  align-items: center;
  /* Center items horizontally */
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 900px;
  border: 1px solid #ccc;
  /* Optional: Add border for visual separation */
  border-radius: 15px;
  padding: 10px;
  /* Optional: Add padding for spacing */
}

li img {
  margin-right: 10px;
  flex-shrink: 0;
  /* Prevent image from shrinking */
}

img {
  width: auto;
  height: 4rem;
}

p {
  margin: 0;
  flex-grow: 1;
  /* Allow text to take remaining space */
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Show ellipsis for overflow text */
  text-align: left;
}

/*Animation for adding an item to a playlist */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.added-to-playlist {
  animation: fadeIn 0.5s ease-in-out;
  background-color: rgba(0, 255, 0, 0.1);
}

/* Icons */
.add-to-playlist-icon {
  cursor: pointer;
  height: 2.5rem;
  -webkit-filter: invert(.75);
  /* safari 6.0 - 9.0 */
  filter: invert(.75);
}